# Ignorar arquivos do sistema e configurações pessoais
*.lnk
*.url
*.docx
*.pdf
*.ini
*.dat
*.log
*.pyc
__pycache__/
.DS_Store
.env
.vscode/
.idea/
.AppData/
.android/
.Docker/
.Documents/
.Downloads/
.Music/
.Videos/
*.md
*.zip
*.tar
*.rar

# Ignorar tudo que não for do seu projeto
../../../../../*
